{% extends 'base.html' %}

{% block loader  %} {% include 'loader.html' %}  {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'carousel.html' %} {% endblock banner %}
{% block content %} 
<div class="container-fluid mt-5 mb-5">
  <div class="row mt-5 cart">
    <div class="col-12 col-md-6">
     <h1 class="text-center text-capitalize title">order summary</h1>
    <table>
      <thead>
        <th>img</th>
        <th>item</th>
        <th>price</th>
        <th>quantity</th>
        <th>amount</th>
      </thead>
    <tbody>
      {% for item in cart %}
      <tr class="item">
        <td><img src="{{item.product.img.url}}" alt="" style="height: 50px;"></td>
        <td>{{item.product.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td> ₦{{item.amount}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
   </div>
   <div class="col-12 col-md-6 checkout">
    <form action="{% url 'payment' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form label">First Name </label>
        <input name="first_name" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form label">Last Name</label>
        <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form label">Phone Number</label>
        <input name="phone" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form label">Shipping Address</label>
        <input type="hidden" name="total" value="{{total}}">
        <input name="address" type="text" name="address" class="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" name="email" class="Form-ControlInput1"id="exampleFormControlInput1.com">
      </div>
      <div class="mb-3 mt-5">
        <button type="submit" class="btn btn-warning text-capitalize">Pay Now</button>
      </div>
     </form>
   </div>
  </div>

{% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}
    
    
    
    