<footer>
    <div class="container">
      <div class="row pt-3 pb-3">
        <div class="col-6 col-lg-4 fitem">
          <img src="/img/logo.png" alt="">
          <h3 class="text-capitalize">software developers building amazing projects</h3>
          <ul class="list unstyled">
            <li class="list-inline-item"><i class="bi bi-facebook"></i></li>
            <li class="list-inline-item"><i class="bi bi-twitter"></i></li>
            <li class="list-inline-item"><i class="bi bi-linkedin"></i></li>
            <li class="list-inline-item"><i class="bi bi-tiktok"></i></li>
          </ul>
        </div>
          <div class="col-6 col-lg-4 flink">
            <h2 class="text-center text-capitalize">useful links</h2>
              <ul class="list-unstyled">
                <li><a href="">home</a></li>
                <li><a href="">category</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">terms and condition</a></li>
              </ul>
          </div>
          <div class="col-12 col-lg-4 fadd">
            <h3 class="text-center text-capitalize">address</h3>
            <div class="row">
              <div class="col-1">
                <i class="bi bi-geo-alt-fill"></i>
              </div>
              <div class="col-11">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem.</p>
              </div>
              <div class="col-1">
                <i class="bi bi-telephone-fill"></i>
              </div>
              <div class="col-11">
                  <p>+2348022504704</p>
              </div>
              <div class="col-1">
                <i class="bi bi-envelope-at-fill"></i>
              </div>
              <div class="col-11">
                  <p>hello@teameagles.com</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row bg-dark">
        <p class=" text-white text-center text-capitalize pt-3 ">&copy;copyright team eagles 2023 | all right reserved | developed by Omega</p>
      </div>
    </div>
  </footer>
