{% extends 'base.html' %}

{% block loader  %} {% include 'loader.html' %}  {% endblock loader %}

{% block header %} {% include 'header.html' %} {% endblock header %}

{% block banner %} {% include 'carousel.html' %} {% endblock banner %}
    {% block content %} 
<div class="container mt-5 mb-5">
  <h1 class="text-center">Log in here</h1>
  <div class="row signup">
    <form action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">username</label>
        <input type="text" name="username" class='form-control' id="exampleFormControlInput1">
      </div>
      <div class="mb-3 pass">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" name= 'password'class= 'form-control input' id="exampleFormControlInput1">
        <div class="see">
          <i class="bi bi-eye-fill"></i>
          <i class="bi bi-eye-slash-fill"></i>
        </div>
      </div>
      <div class="mb-3 mt-5">
        <button class="btn btn-warning text-capitalize">signin</button>
      </div>
      <p class="text-capitalize">Don't have an account? <span><a href="/signup.html">register</a></span></p>
    </form>
  </div>
</div>
{% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}
    
    
    
    